.body {
  font-size: var(--typescale-base);
  padding: 24px;
}

.container {
  background: var(--theme-background);
  color: var(--theme-text);
}

.h1 {
  font-size: var(--typescale-4);
  font-family: "Heading";
  font-weight: 400;
  line-height: 1.5;
}

.h2 {
  font-size: var(--typescale-3);
  font-family: "Heading";
  font-weight: 400;
  line-height: 1.5;
}

.h3 {
  font-size: var(--typescale-2);
  font-family: "Heading";
  font-weight: 400;
  line-height: 1.4;
}

.p {
  font-size: var(--typescale-base);
  line-height: 1.5;
}

.desc {
  font-size: var(--typescale-base);
  color: var(--color-light-gray);
  line-height: 1.5;
  max-width: 568px;
}

.caption {
  font-size: var(--typescale-1);
  color: var(--theme-text);
  line-height: 1.5;
}

.section {
  max-width: 1122px;
  width: 100%;
  padding: 0 24px 0 24px;
  box-sizing: border-box;
  margin: 0 auto 0 auto;
}

.center {
  max-width: 1122px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  padding: 0 24px 0 24px;
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  position: relative;

  @media (max-width: 768px) {
    min-height: auto;
  }
}

.centerText {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 24px 48px 24px 48px;
  text-align: center;
  font-size: 2.8rem;
  z-index: 1111;
}

.row {
  width: 100%;
  max-width: 1120px;
  padding: 0 12px 0 12px;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rowCol {
  width: 50%;
  padding: 12px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.topic {
  flex-shrink: 0;
  width: 25%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 48px;
  padding: 12px;

  @media (max-width: 728px) {
    width: 50%;
  }

  @media (max-width: 428px) {
    width: 100%;
  }
}

.topicImage {
  border: 1px solid var(--theme-border);
  display: flex;
  width: 100%;
  height: 188px;
  display: block;
}

.topicTitle {
  font-weight: 600;
  margin-top: 24px;
  display: block;
}

.topicText {
  margin-top: 16px;
  display: block;
  line-height: 1.5;
}

.actions {
  margin-top: 16px;
}

.actionButton {
  background: var(--theme-button);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  text-transform: uppercase;
  height: 70px;
  border-radius: 70px;
  min-width: 180px;
  padding: 4px 32px 0 32px;
  letter-spacing: 0.8px;
  font-size: 10px;
  text-align: center;
  margin: 24px 24px 24px 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 200ms ease all;
  text-decoration: none;

  &:hover {
    background: var(--theme-button-hover);
  }
}

.actionButtonTitle {
  letter-spacing: 2px;
  font-family: "Halbfett";
  font-weight: 400;
  display: block;
  color: rgba(255, 255, 255, 1);
}

.actionButtonText {
  margin-top: 4px;
  display: block;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: rgba(255, 255, 255, 0.6);
}

.timelineItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 32px;
}

.timelineItemDate {
  font-family: "MonoMedium";
  font-size: var(--typescale-1);
  flex-shrink: 0;
  margin-right: 24px;
  margin-top: 4px;
}

.timelineItemDot {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: var(--color-anchor-gray);
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.timelineItemText {
  min-width: 10%;
  width: 100%;
  padding-left: 24px;
}

.listItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
}

.listItemLeft {
  border: 1px solid var(--theme-border);
  flex-shrink: 0;
  width: 40%;
  height: 64px;
}

.listItemRight {
  min-width: 10%;
  width: 100%;
  padding-left: 24px;
}

.listItemTitle {
  font-size: var(--typescale-1);
  font-family: "Halbfett";
  line-height: 1.5;
}

.listItemParagraph {
  font-size: var(--typescale-1);
  line-height: 1.5;
  color: var(--color-shark-gray);
}
