.body {
  font-size: 48px;
  padding: 24px;
}

.container {
  background: var(--theme-background);
  color: var(--theme-text);
}

.h1 {
  font-family: "Heading";
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.5;
}

.h2 {
  font-family: "Heading";
  font-size: 2.44rem;
  font-weight: 400;
  line-height: 1.5;
}

.h3 {
  font-family: "Heading";
  font-size: 1.24rem;
  font-weight: 400;
  line-height: 1.4;
}

.p {
  font-size: 1.24rem;
  line-height: 1.5;
}

.desc {
  font-size: 1rem;
  line-height: 1.5;
}

.caption {
  font-size: 1rem;
  color: var(--theme-text);
  line-height: 1.5;
}

.section {
  max-width: 1122px;
  width: 100%;
  padding: 0 24px 0 24px;
  box-sizing: border-box;
  margin: 0 auto 0 auto;
}

.center {
  max-width: 1122px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  padding: 0 24px 0 24px;
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  position: relative;

  @media (max-width: 768px) {
    min-height: auto;
  }
}

.centerText {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 24px 48px 24px 48px;
  text-align: center;
  font-size: 2.8rem;
  z-index: 1111;
}

.row {
  width: 100%;
  max-width: 1120px;
  padding: 0 12px 0 12px;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.topic {
  flex-shrink: 0;
  width: 25%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 48px;
  padding: 12px;

  @media (max-width: 728px) {
    width: 50%;
  }

  @media (max-width: 428px) {
    width: 100%;
  }
}

.topicImage {
  display: flex;
  width: 100%;
  height: 188px;
  display: block;
  border: 1px solid var(--theme-border);
}

.topicTitle {
  font-weight: 600;
  margin-top: 24px;
  display: block;
}

.topicText {
  margin-top: 16px;
  display: block;
  line-height: 1.5;
}

.actionButton {
  display: inline-flex;
  flex-direction: column;
  min-height: 88px;
  padding: 16px;
  max-width: 274px;
  margin: 24px 24px 24px 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.07);
  background: var(--theme-button);
  cursor: pointer;
}

.actionButtonTitle {
  font-weight: 400;
  font-family: "Halbfett";
  display: block;
  font-size: 1rem;
}

.actionButtonText {
  margin-top: 8px;
  display: block;
  line-height: 1.5;
  font-size: 0.8rem;
}

.timelineItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 32px;
}

.timelineItemDate {
  flex-shrink: 0;
  margin-right: 24px;
  font-family: "MonoMedium";
  margin-top: 2px;
}

.timelineItemDot {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: #000;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.timelineItemText {
  min-width: 10%;
  width: 100%;
  padding-left: 24px;
}
