.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 48px;

  @media (max-width: 768px) {
    display: block;
  }
}

.left {
  min-width: 10%;
  width: 100%;
}

.right {
  padding-left: 24px;
  width: 33%;

  @media (max-width: 768px) {
    margin-top: 24px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.slot {
  width: 33%;
  display: inline-block;

  @media (max-width: 768px) {
    width: 100%;
    display: block;
  }
}

.item {
  border: 1px solid var(--theme-border);
  margin: 12px;
  height: 188px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease all;

  &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 768px) {
    height: auto;
    padding: 12px;
  }
}

.h2 {
  font-family: "Heading";
  font-size: 2.44rem;
  font-weight: 400;
  line-height: 1.5;
}

.h3 {
  font-family: "Heading";
  font-size: 1.24rem;
  font-weight: 400;
  line-height: 1.4;
}

.p {
  font-size: 1.24rem;
  line-height: 1.5;
}
